In [6]:
#Access direct
#Acesso direto
carros = ["fox", "celta", "onix"]

print(carros[0])
print(carros[1])
print(carros[2])

fox
celta
onix

In [8]:
#Index negative
#√çndice negativo
carros = ["fox", "celta", "onix", "amarok", "jeep"]

print(carros[-1])
print(carros[-3])
print(carros[-2])

jeep
onix
amarok

In [9]:
#Lines nested
#Linha aninhadas
matriz = [
 [1, "a", 2],
 ["b", 3, 4],
 [6, 5, "c"]
]

print(matriz[0])
print(matriz[0][0])
print(matriz[0][-1])
print(matriz[-1][-1])

[1, 'a', 2]
1
2
c

In [11]:
lista = ["p", "y", "t", "h", "o", "n"]

print(lista[2:])
print(lista[:2])
print(lista[1:3])
print(lista[0:3:2])
print(lista[::])
print(lista[::-1])

['t', 'h', 'o', 'n']
['p', 'y']
['y', 't']
['p', 't']
['p', 'y', 't', 'h', 'o', 'n']
['n', 'o', 'h', 't', 'y', 'p']

In [13]:
carros = ["gol", "celta", "palio"]

for carro in carros:
    print(carro)

gol
celta
palio

In [18]:
carros = ["fox", "celta", "onix"]

for indice, carro in enumerate(carros):
    #print(f"{indice}: {carro}")
    print("{indice}: {carro}" .format(indice=indice, carro=carro))#Another way

0: fox
1: celta
2: onix

In [19]:
thislist = ["apple", "banana", "cherry"]

thislist.append("Orange") #Using the append() method to append an item
print(thislist)

['apple', 'banana', 'cherry', 'Orange']

In [22]:
numeros = [1,30, 21, 2, 9, 65, 34]
quadrado = []

for numero in numeros:
    quadrado.append(numero ** 2)#All values in the list quadrado was elevated per 2 and addinded
    
print(quadrado)

[1, 900, 441, 4, 81, 4225, 1156]